<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookManageSystem</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>QueryAllServlet</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QueryAllServlet</display-name>
    <servlet-name>QueryAllServlet</servlet-name>
    <servlet-class>com.book.servlet.QueryAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllServlet</servlet-name>
    <url-pattern>/QueryAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.book.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>com.book.servlet.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookServlet</display-name>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>com.book.servlet.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/DeleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookServlet</display-name>
    <servlet-name>UpdateBookServlet</servlet-name>
    <servlet-class>com.book.servlet.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/UpdateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryByBnoServlet</display-name>
    <servlet-name>QueryByBnoServlet</servlet-name>
    <servlet-class>com.book.servlet.QueryByBnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryByBnoServlet</servlet-name>
    <url-pattern>/QueryByBnoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginQueryServlet</display-name>
    <servlet-name>LoginQueryServlet</servlet-name>
    <servlet-class>com.book.servlet.LoginQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginQueryServlet</servlet-name>
    <url-pattern>/LoginQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.book.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
</web-app>